.cart-order-list-format {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;

    background-color: #D9D9D9;
    box-shadow: inset 0px -2px 10px #00000040;
    height: 20rem;
    color: #3C2F2F;
    overflow-y: scroll;
    scroll-behavior: auto;
    border-radius: 0px 0px 10px 10px;
}

.order-page-title {
    background-color: #BD977C;
    box-shadow: inset 0px 4px 10px #00000040;
    border-radius: 10px 10px 0px 0px;
}

.order-btn {
    background-color: #573A2E;
    border: 0;
    padding: 0em 7em 0em 7em;
    border-radius: 10px;
    color: #FFF4E6;
    box-shadow: 0px 0px 10px #3C2F2F;
    text-decoration: none;
}

.order-btn:hover {
    transform: scale(110%);
    transition: all .3s ease-in-out;
    text-decoration: underline 1.5px #FFF4E6;
}

.order-btn:active {
    transform: scale(95%);
    transition: all .1s;
}

.order-input-bar {
    box-shadow: inset 0px 5px 7px #41322399;
    background-color: #F5C0AD;
    border: 0;
    display: block;
    border-radius: 10px;
    padding: .4em .4em .4em .8em;
    max-width: 40em;


}

label {
    animation-name: form-label-appear;
    animation-duration: 1s;
}

.order-input-bar:focus {
    background-color: #FFEBC5;
    transition: all .5s;
}

.order-input-bar:focus-visible {
    outline: 3px solid #3C2F2F;
    transition: all .2s;
  }

.order-form {
    animation-name: order-form-appear;
    animation-duration: 1.5s;
}

.order-anim {
    animation-duration: .4s;
    animation-name: order-appear;
}

.order-title-anim {
    animation-duration: 2.5s;
    animation-name: text-appear;
}

.cart-order-list-format::-webkit-scrollbar {
    background-color: #D9D9D9;
    box-shadow: inset -5px 0px 10px #00000040;
    border-radius: 0 0 10px 0;
}

.cart-order-list-format::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background-color: #413236;
    box-shadow: inset 0px 0px 5px;
}